.site-footer {
    position: relative;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    background-image: var(--header-nav-color);
}

/* Style Shape */
.site-footer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(50% - 180px);
    width: 297px;
    height: 175px;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjk3IiBoZWlnaHQ9IjE3NSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gIDxkZWZzPiAgICA8bGluZWFyR3JhZGllbnQgeDE9Ijk5LjQzNSUiIHkxPSI4NS4wNzglIiB4Mj0iOC42ODUlIiB5Mj0iMjMuNzMzJSIgaWQ9ImEiPiAgICAgIDxzdG9wIHN0b3AtY29sb3I9IiMxRDMwNEIiIG9mZnNldD0iMCUiLz4gICAgICA8c3RvcCBzdG9wLWNvbG9yPSIjMUQzMDRCIiBzdG9wLW9wYWNpdHk9IjAiIG9mZnNldD0iMTAwJSIvPiAgICA8L2xpbmVhckdyYWRpZW50PiAgPC9kZWZzPiAgPHBhdGggZD0iTTMxOC4xNzEgNzA4LjY0YzE2MC4wODYgMCA3MDIuNTI3LTIyOC4yNiAyODkuODYyLTI5MC00MTIuNjY2LTYxLjczOC0xMjkuNzc2LTI5MC0yODkuODYyLTI5MFMyOC4zMSAyNTguNDc5IDI4LjMxIDQxOC42NGMwIDE2MC4xNjMgMTI5Ljc3NSAyOTAgMjg5Ljg2MSAyOTB6IiB0cmFuc2Zvcm09InJvdGF0ZSgtNiAtOTUwLjAxNiAxMDU2LjE0MykiIGZpbGw9InVybCgjYSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-repeat: no-repeat
}

.site-footer a {
    text-decoration: none
}

.site-footer a:hover,
.site-footer a:active {
    text-decoration: underline
}

.site-footer-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em;
    padding-bottom: 2em
}

.footer-brand,
.footer-links,
.footer-copyright {
    flex: none;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    color: var(--primary-text-color) !important;
}

.footer-social-links {
    flex: none;
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Montserrat", sans-serif;
    justify-content: center;
}

.footer-social-links li {
    position: relative;
    background: #CDEE00;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social-links li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.footer-social-links .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social-links .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.footer-social-links li:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.footer-social-links li:hover span,
.footer-social-links li:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.footer-social-links .facebook:hover,
.footer-social-links .facebook:hover .tooltip,
.footer-social-links .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
}

.footer-social-links .youtube:hover{
    background: #fff;
    color: #CD201F;
    border: 1px solid #ff0050;
}

.footer-social-links .youtube:hover .tooltip,
.footer-social-links .youtube:hover .tooltip::before{
    background: #CD201F;
    color: #fff;
}

.footer-social-links .tiktok:hover,
.footer-social-links .tiktok:hover .tooltip,
.footer-social-links .tiktok:hover .tooltip::before {
    background: #000000;
    color: #fff;
    border: 1px solid #ff0050;
}

.footer-brand,
.footer-links {
    margin-bottom: 24px
}

.footer-links li+li {
    margin-left: 2em
}

@media (min-width: 641px) {
    .site-footer {
        margin-top: 20px
    }

    .site-footer-inner {
        justify-content: space-between;
        padding-top: 3em;
        padding-bottom: 3em;
    }

    .footer-brand,
    .footer-links,
    .footer-copyright {
        flex: 50%
    }

    .footer-social-links {
        flex: 50%;
        justify-content: flex-end
    }

    .footer-brand,
    .footer-copyright {
        justify-content: flex-start
    }

    .footer-links {
        justify-content: flex-end
    }

    .footer-links {
        order: 1;
        margin-bottom: 0
    }
}